body{
background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
font-family:sans-serif;
color:white;
}

main{
    width:750px;
    /* border:1px solid black;  era una ayuda*/
    margin:30px auto 30px;
    display: flex;
    align-items:center;
}

.section1{
    background-color: rgba(255,255,255,0.2);
    padding:0 10px 10px 10px;
    border-radius: 8px;
    /* margin-right: 50px; */
}

h1{
    text-align:center;
}

button{
    height:100px;
    width:100px;
    font-size:40px; /* se nota cuando se muestra los botones es tamaño de la fuente */
    color:black; /* color se la fuente se muestra cuando se presiona los botones*/
    font-weight:bold; /*ancho e la letra*/
}

button:hover{
    cursor:pointer; /*convierte elk cursor de flecha a mano*/
}

.section2{
    background-color: rgba(255,255,255,0.2);
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    width: 250px;
    height: 400px;
    padding: 0px 20px;
}
.estadisticas{
    border: 1px solid white;
    height:105px;
    border-radius:8px;
    padding: 8px 20px;
    box-sizing:border-box; /*sirve para acomodar las cajas elemnetos para que se vea bien*/
}

footer{
    text-align:center;
}
